<html>
<head>
  <title>Sinatra app</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <%= erb :navbar %>
  <%= yield %>
</body>
</html>