<html>
<head>
  <title>Sinatra app</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   <header>
  <%= erb :navbar %>
  <%= yield %>
   </header>
  <div class="container">
  </div>
</body>
</html>