<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sinatra-app</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if (session[:authenticated]) %>
          <li><a href="/logout">Hello, <%= session[:user_name] %>!</a></li>
          <li><a href="/logout">Sign out</a></li>
        <% else %>
          <li><a href="/auth/github">Sign in with GitHub</a></li>
          <li><a href="/auth/facebook">Sign in with Facebook</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>